// コードの文字化けを防ぐ！
@charset "#UTF-8";

// <html>タグにフォントサイズ100%を設定するとブラウザーのでフォルト文字サイズ、ユーザー設定の文字サイズが正しく反映されるようになる。
html{
    font-size: 100%;
}
// ここで書体の指定・行の高さの指定・色の指定を行う
body{
font-family: 'Lobster Two', cursive;
line-height: 1.5;
color: #caeef7;
}

// aタグの傍線の指定
a{
    text-decoration: none;
}

// 画像の大きさの指定, max-width: 100%;にすることで画像が親要素よりも大きくなることを防ぎます
img{
    max-width: 100%;
}

// headerロゴ画像の大きさ変更
.logo{
    width: 90px;
    margin-top: 4px;
}

// ナビゲーションメニューの装飾。flex使う！！
.main-nav{
    display: flex;
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-top: 34px;
    list-style: none;
}

.main-nav li{
    margin-left: 34px;
}

.main-nav a {
    color: #432;
}

// 「a:hover」はリンクテキストにカーソルを合わせたときに適用される疑似クラスと呼ばれるもの。カーソルを合わせたときの装飾を指定できる。
main-nav a:hover {
    color: #0bd;
}

// ロゴとナビゲーションを横並びにする。
// ロゴを左にナビゲーションメニューを右に配置するために、それぞれを囲っている「page-header」クラスにflexboxで横並びにする。
// 「justify-content: space-before;」も書くことで両端に設置できる。
.

// コンテンツの最大表示幅を設定。
// 「margin:0 auto;」を指定すると、ボックスを画面の中央に配置できる。
// また、左右に「padding」をつけておくと、スマートフォンの狭い画面でみても余白ができて見やすくなる。
.wrapper{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 4%;
}