// コードの文字化けを防ぐ！
@charset "#UTF-8";

// <html>タグにフォントサイズ100%を設定するとブラウザーのでフォルト文字サイズ、ユーザー設定の文字サイズが正しく反映されるようになる。
html{
    font-size: 100%;
}
// ここで書体の指定・行の高さの指定・色の指定を行う
body{
font-family: 'Lobster Two', cursive;
line-height: 1.5;
color: #caeef7;
}

// aタグの傍線の指定
a{
    text-decoration: none;
}

// 画像の大きさの指定, max-width: 100%;にすることで画像が親要素よりも大きくなることを防ぎます
img{
    max-width: 100%;
}

// headerロゴ画像の大きさ変更
.logo{
    width: 90px;
    margin-top: 4px;
}

// ナビゲーションメニューの装飾。flex使う！！
.main-nav{
    display: flex;
    font-size: 1.25rem;
    text-transform: uppercase;
    
}

